name: codepush

on: 
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2.3.4
    - name: Setup Node
      uses: actions/setup-node@v2.1.2
      with:
        registry-url: "https://npm.pkg.github.com"
      env:  
        NODE_AUTH_TOKEN: ${{ secrets.GIT_HUB_TOKEN }}
    - name: Yarn install
      run: yarn install
    - name: run any App Center CLI command
      uses: avocaddo/AppCenter-Github-Action@v1.0.2
      with:
        command: appcenter codepush release-react -a pilltong/bdyg-user-android
        token: ${{secrets.APP_CENTER_TOKEN}}
